/* Button Styles */
.button {
    color: #FFF;
    background-color: #4E4EF2;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2B7EDE;
  }
  
  /* Input and Select Styles */
  .input, .select {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Form Styles */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Modal Overlay */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Darkened background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content with Frosted Glass Effect */
  .modalContent {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Add depth */
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
    z-index: 1010;
  }
  
  /* Heading Styles */
  .heading {
    color: #4E4EF2;
    margin-bottom: 20px;
  }